# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
node_modules_bak/
.pnp
.pnp.js

# environment variables
.env
.env.*
!.env.example
env.ts

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Project specific
#constants/vaultData.ts

# Native
android/*
ios/*
./android
./ios
./ios*
./android*
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/app/build.gradle
android\app\build.gradle
android\app\src\main\build.gradle
android/app/src/main/build.gradle

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea
.vscode
*.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Build artifacts
build/
*.cxx/

# Project specific scripts to ignore
/scripts/test-upload.js
scripts/SuperCRUDTest.ps1
app-example

# Temporary files
*.swp
*.swo
.temp
.tmp

# Electron build
electron-app/dist/
electron-app/node_modules/

# Coverage directory used by tools like istanbul
coverage/

# Cache
.eslintcache
.cache/

.env.local
android/app/build.gradle

